---
import Heading from '../features/Heading.astro'

const additionsData = [
  {
    title: 'Ujęcia z drona',
    desc: 'Profesjonalny operator wykona dla was w ten szczególny dzień około kilkanaście ujęć z powietrza, Waszych domów, podczas wyjazdu do Panny Młodej, wspólne wyjście z domu, wyjście z kościoła, wejście na salę oraz wspólne ujęcie grupowe.',
  },
  {
    title: 'Dekoracje Światłem sali weselnej',
    desc: 'Możesz stworzyć niesamowity klimat w Sali weselnej poprzez wybór dowolnej barwy oświetlenia. Najwyższej klasy oświetlenie tworzy bajkowy nastrój, który sprawi, że wesele będzie niezapomniane.',
  },
  {
    title: 'Ciężki dym',
    desc: 'Oferujemy wynajem profesjonalnej wytwornicy ciężkiego dymu z obsługą, aby stworzyć niezapomniany klimat podczas pierwszego tańca na Twoim weselu.',
  },
  {
    title: 'Fotobudka',
    desc: 'Chcesz mieć oryginalne i wykonane w sposób nie konwencjonalny zdjęcia na własnym weselu? Zaskoczyć swoich gości weselnych? Jeśli tak, dobrze trafiłeś!',
  },
  {
    title: 'Fotolustro',
    desc: 'Fotolustro to hit ostatnich dni, inspirowany fotobudkami, które nie tylko zachęcają do uśmiechów, ale także drukują magiczne odbitki. To must-have na każdej imprezie - zrobi furorę!',
  },
  {
    title: 'Fotobudka 360',
    desc: 'Fotobudka 360 to taka fotobudka, gdzie możesz zrobić filmik, kręcąc się wokół filmowanej osoby o 360 stopni. Otwiera drzwi do kolorowego wiru wideo z tańczącymi postaciami.',
  },
  {
    title: 'Napis LOVE',
    desc: 'Przepiękny kwiatowy lub podświetlany napis LOVE na Twoje Wesele.',
  },
  {
    title: 'Fontanna Iskier',
    desc: 'Fontanny doskonale komponują się z dymem, często widzianym podczas pierwszego tańca i ceremonii krojenia tortu. Fontanna iskier dodaje niepowtarzalności i pięknego klimatu podczas wyjątkowych chwil.',
  },
  {
    title: 'Dodatkowy fotograf w dniu ślubu',
    desc: 'Inne spojrzenie na dzień ślubu: fala dodatkowych fotografii w ramach reportażu ślubnego (to popularny wybór dla par z większą liczbą gości na przyjęciu - tzn. powyżej 120 osób)',
  },
  {
    title: 'Dodatkowy Filmowiec w dniu ślubu',
    desc: 'Nowe spojrzenie na ceremonię ślubną: zwiększona liczba ujęć w ramach reportażu wideo (często wybierana opcja przez pary, które planują przyjęcie z udziałem większej liczby gości, czyli powyżej 120 osób)',
  },
  {
    title: 'DJ Wodzirej',
    desc: 'Najlepszy DJ na parkiecie zaserwuje mieszankę hitów, która porwie i sprawi, że każdy gość na parkiecie zatańczy do białego rana.',
  },
  {
    title: 'Drink Bar',
    desc: 'Zajmujemy się obsługą barmańską na wydarzeniach, oferując mobilny cocktail bar z drinkami w różnych kolorach. Nasz zespół barmanów zapewnia doskonały smak, zadowolonych gości i świetną zabawę.',
  },
]
---

<section
  class='flex flex-col gap-8 lg:gap-16 px-spaced justify-center items-center py-8 lg:py-16 bg-gradient-to-b from-primary/10 to-background w-full'
>
  <div class='flex flex-col gap-4 items-center'>
    <h2 class='text-sm font-semibold text-primary'>
      Ciekawe dodatki do wesela Biała Podlaska
    </h2>
    <Heading title='To uatrakcyjni Wasze wesele' />
    <p>Spójrzcie jakie ciekawe dodatki do wesela jesteśmy w stanie załatwić!</p>
  </div>
  <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 lg:gap-6'>
    {
      additionsData.map((addition) => (
        <div class='flex flex-col gap-4 bg-primary p-6 text-background double-brand-clip rounded-tl-2xl justify-between min-h-[300px]'>
          <h3 class='text-xl lg:text-2xl tracking-wide marcellus-regular'>
            {addition.title}
          </h3>
          <p class='text-sm mb-20'>{addition.desc}</p>
        </div>
      ))
    }
  </div>
</section>

<style>
  .double-brand-clip {
    clip-path: none; /* domyślnie brak efektu */
  }

  @media (min-width: 1024px) {
    .double-brand-clip {
      clip-path: polygon(
        0% 0%,
        100% 0%,
        100% 75%,
        30% 75%,
        10.1% 87%,
        10% 75%,
        0% 75%
      );
    }
  }
</style>
